table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px;
}

tr:nth-child(even){background-color: #CCFBF1;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #0F766E;
  color: white;
}