:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  --primary-color: #0F766E;
  --primary-hover: #115E59;
  --primary-light: #CCFBF1;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
}

body {
  margin: 0;
  direction: rtl;
  background-color: #F8FAFC;
  font-family: var(--sans);
  color: var(--text);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.login-type {
    display: flex;
    justify-content: center;
    gap: 16px;
    direction: ltr;
}

.login-type label {
    display: flex;
    align-items: center;
    gap: 4px;
    direction: rtl;
}

:root {
  --primary-color: #0F766E;
  --primary-hover: #115E59;
  --primary-light: #CCFBF1;
}

button {
  background-color: white; 
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 6px;
  font-family: inherit;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
}



.card {
  background-color: white;
  border: 1px solid #E2E8F0;
}

form {
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  border: 1px solid #E2E8F0;
  box-shadow: var(--shadow);
}

label {
  display: block;
  text-align: right;
  margin-bottom: 4px;
  color: #1E293B;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 14px;
  display: block;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: inherit;
  direction: rtl;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.login-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border: 3px solid #0F766E;
  border-radius: 12px;
}
